html{
	scroll-behavior: smooth;
}
body {
  font-family: "Poppins", 'Noto Sans KR';
  color: #0c0c0c;
  background-color: #ffffff;
  width:100%;
  overflow-x:hidden;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 20px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.custom_heading {
  color: #030404;
  font-size: 37px;
}

.custom_heading span {
  color: #4F81BD;
}

/*header section*/
.hero_area {
  height: 98vh;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #17375E;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  background-color: #f6f8f7;
  padding-top: 15px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.header_section .quote_btn-container a {
  color: #434242;
  text-transform: uppercase;
}

.header_section .navbar-nav li{ /*hiding becuase of aboutus,partners*/
  padding-left: 50px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #434242;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link2 {
  padding: 10px 30px;
  color: #17375E;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #17375E;
  font-weight: bold;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
  text-transform: none;
  font-weight: bold;
  font-size: 24px;
  color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-brand img {
  width: 30px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 25px;
  font-weight: 700;
  color: #191919;
  margin-top: 5px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 12px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/
/* slider section */
.slider_section {
  background-image: url(../images/hero_2.jpg);
  padding: 6% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_detail-box {
  margin: 50px;
  margin-top:60px ;
  margin-bottom: 80px;
  margin-left: 80px;
}

.slider_detail-box h1 {
  color: #ffffff;
  font-size: 52px;
  font-weight: bold;
  margin: 0px;
}

.slider_detail-box span {
  display: inline-block;
  color: #ffffff;
  font-weight: lighter;
  font-size: 35px;
}

.slider_detail-box p {
  color: #f6f8f7;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 17px;
  text-shadow: 2px 2px 2px #010106;
  word-spacing: 4px;
}

.slider_detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 45px;
  background-color: #17375E;
  border: 1px solid #17375E;
  color: #ffffff;
  margin-right: 10px;
}

.slider_detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #17375E;
}

.slider_detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #17375E;
}

.slider_detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #ffffff;
}

.slider_img-box {
  margin-right: 5%;
}

.slider_img-box img {
  width: 100%;
}

.carousel-indicators {
  bottom: -15%;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #010106;
}

.about_section {
  background-image: url(../images/about-bg.png);
  background-size: cover;
}

.about_section .row {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin: 25px 0;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #17375E;
  border: 1px solid #17375E;
  color: #ffffff;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #17375E;
}



.service_section{
  position: relative;
  top: -190px;
  padding-bottom: 0%;
}

.service_section .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px 0;
  }

.service_section .img_box {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .img_box img {
  width: 55px;
}

.service_section .detail_box {
  margin-top: 30px;
  width: 310px;
  padding: 0px 30px;
  min-height: 285px;
  margin-bottom: 5px;
}

.service_section .detail_eng {
  min-height: 320px;
}

.service_section .detail_box h6 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0;
  color: #efefef;
}

.service_section .detail_box h6 p{
  font-weight: normal;
  font-size: 23px;
  margin: 0 0;
  text-align: center;
  line-height: normal;
  color: #4F81BD;
}

.service_section .detail_box p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.9;
  text-align: left;
  color: #efefef;
}

.service_section .detail_box .service_eng{
  font-size: 13.5px;
}

.service_section a {
  display: inline-block;
  padding: 12px 25px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.service_section a:hover {
  display: inline-block;
  padding: 12px 25px;
  border: 1px solid #17375E;
  background-color: #ffffff;
  color: #17375E;
}

.service_section .row{
  display: flex;
  text-align: center;
  justify-content: center;
}

.servicecard{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 24px 0px;
  padding-top: 27px;
  border-radius: 1.5em;
  background-color: #17375E;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.service_section .nobutton {
  opacity: 0;
}

.buy_section {
  text-align: center;
}

.buy_section p {
  margin: 25px 0;
}

.buy_section a {
  display: inline-block;
  padding: 12px 65px;
  background-color: #17375E;
  border: 1px solid #17375E;
  color: #ffffff;
}

.buy_section a:hover {
  background-color: transparent;
  color: #17375E;
}

.client_section .pl-100 {
  padding-left: 100px;
}

.client_section .client_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: 1px solid #606060;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.client_section .client_container .img_box {
  width: 200px;
  margin-left: -100px;
}

.client_section .client_container .img_box img {
  min-width: 100%;
}

.client_section .client_container .detail_box {
  padding: 0 35px;
}

.client_section .carousel-indicators li {
  background-color: #4F81BD;
}

.client_section .carousel-indicators .active {
  background-color: #8c8a8a;
}

.info_section {
  background-color: #f6f8f7;
}

.info_items {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.info_items .item .detail-box {
  margin-top: 5px;
  color: #17375E;
}

.info_items {
  position: relative;
}

.info_items a {
  position: relative;
}
.info_items .item .img-box.box-2 {
  background-image: url(../images/telephone-dark.png);
}

.info_items .item .img-box.box-3 {
  background-image: url(../images/envelope-dark.png);
}

/* footer section*/
.footer_section {
  background-color: #fbfdfd;
  padding: 20px;
  font-weight: 500;
}

.footer_section p {
  color: #292929;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #292929;
}

/* end footer section*/

/*adddedn by hyeon*/
/*top info*/
.topinfo1_section {
  background-color: #17375E;
  background-size: cover;
  background-repeat: no-repeat;
}

.topinfo1_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topinfo1_detail-box {
  margin: 20px;
  margin-top:20px ;
  margin-bottom: 20px;
  margin-left: 80px;
}

.topinfo1_detail-box h1 {
  color: #ffffff;
  font-size: 52px;
  font-weight: bold;
  margin: 0px;
}

.topinfo1_detail-box span {
  display: inline-block;
  color: #ffffff;
  font-weight: lighter;
  font-size: 35px;
}

.topinfo1_detail-box p {
  color: #f6f8f7;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 17px;
}

/* topinfo2 */
.topinfo_section {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.topinfo_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.-box {
  margin: 20px;
  margin-top:60px ;
  margin-bottom: 20px;
  margin-left: 80px;
}

.topinfo_detail-box h1 {
  color: #17375E;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
}

.topinfo_detail-box span {
  display: inline-block;
  color: #17375E;
  font-weight: normal;
  font-size: 42px;
}

.topinfo_detail-box p{
  font-size: 27px;
  color: #17375E;
}

/*topinfo_service*/
.topinfo_service{
  background-image: url(../images/service_top.jpg);
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
}

.topinfo_service .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topinfo_detail-box {
  margin: 20px;
  margin-top:60px ;
  margin-bottom: 20px;
  margin-left: 80px;
}

.topinfo_detail-box h1 {
  color: #17375E;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
}

.topinfo_detail-box span {
  display: inline-block;
  color: #17375E;
  font-weight: normal;
  font-size: 42px;
}

/*topinfo_people*/
.topinfo_people{
  margin-bottom: 20px;
}

.topinfo_people.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topinfo_detail-box {
  margin: 20px;
  margin-top:60px ;
  margin-bottom: 20px;
  margin-left: 80px;
}

.topinfo_detail-box h1 {
  color: #17375E;
  font-size: 60px;
  font-weight: bold;
  margin: 0px;
}

.topinfo_detail-box span {
  display: inline-block;
  color: #17375E;
  font-weight: normal;
  font-size: 42px;
}

/*reference*/
.reference_section {
  background-image: url(../images/reference_bg2.png);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  padding: 20px auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

.reference_section .container{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 40px;
}

.refer_items {
  z-index: 2;
  width: 75%;
  margin: 10px 0;
  margin-top: 30px;
  margin-right: 80px;
  padding: 5px 0;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px 2px rgba(39, 39, 39, 0.6);
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.2rem;
  min-height: 180px;
}

.refer_items2 {
  font-size: 13px;
  font-family: Nanum Gothic, sans-serif;
  color: #fff;
  padding-left: 30px;
  border-radius: 1rem;
  width: 75%;
  margin: 3px auto;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.refer_items3 {
  font-size: 13px;
  font-family: Nanum Gothic, sans-serif;
  color: #000000;
  padding-left: 60px;
  border-radius: 1rem;
  width: 75%;
  margin: 3px auto;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.refer_items .refer_title{
  display: flex;
  float: left;
  min-width: 150px;             
  min-height: 110px;
  text-align: left;
  font-size: 20px;
  justify-content : center;
  align-items : center;
  font-size: 22px;
  color: #17375E;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 25px;
  flex-direction: column;
  text-align: center;
  max-width: 170px;
}

.refer_items .refer_content{
  display: flex;
  float: right;
  width: 550px;         
  box-sizing: border-box; 
  align-items : center;
  font-size: 14px;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 50px;

  font-family: Nanum Gothic, sans-serif;
  line-height: 1.9;
  color: #333;
  font-weight: bold;
}

.refer_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.refer_items .img-box {
  padding-bottom: 15px;
}

.refer_items .img-box img{
  width: 45px;
  height: 45px;
}

.refer_items .item .detail-box {
  margin-top: 5px;
  color: #4F81BD;
}

.refer_items {
  position: relative;
}

.refer_items a {
  position: relative;
}

.reference_section .custom_heading{
  text-align: center;
  margin: 60px 0px;
  margin-bottom: 50px;
}

.refer2_items3 {
  background-color: #17375E;
  border-radius: 4rem;
  border: solid;
  border-color: #17375E;
  width: 60%;
  margin: 10px auto;
  margin-top: 30px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 5px 5px 5px 2px rgba(39, 39, 39, 0.6);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.refer2_items3 .refer2_title{
  display: flex;
  float: left;
  min-width: 150px;             
  min-height: 110px;
  text-align: center;
  font-size: 16px;
  justify-content : center;
  align-items : center;
  color: #ffffff;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 25px;
  flex-direction: column;
  text-align: center;
}

.refer2_items3 .refer2_content{
  display: flex;
  float: right;
  width: 550px;         
  box-sizing: border-box; 
  align-items : center;
  font-size: 12px;
  padding: 20px 0;
  margin-left: 30px;
  margin-right: 50px;
  font-family: Nanum Gothic, sans-serif;
  line-height: 1.9;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
}

.refer2_items3 .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.refer2_items3 p{
  margin: 10px 0;
}

/*reference2*/
.reference2_section {
  padding: 20px auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.procurement_section {
  background-image: url(../images/reference2_bg2.png);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  padding: 20px auto;
  padding-top: 50px;
  margin-bottom: 40px;
}

.reference2_section .container{
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 20px;
}

.refer2_items {
  width: 75%;
  margin: 15px 0;
  margin-top: 30px;
  margin-right: 80px;
  padding: 5px 0;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px 2px rgba(39, 39, 39, 0.6);
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.2rem;
}

.refer2_items .refer2_title{
  display: flex;
  float: left;
  min-width: 150px;             
  min-height: 110px;
  text-align: left;
  font-size: 20px;
  justify-content : center;
  align-items : center;
  font-size: 22px;
  color: #17375E;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 25px;
  flex-direction: column;
  text-align: center;
  max-width: 170px;
}

.refer2_items .refer2_content{
  display: flex;
  float: right;
  width: 550px;         
  box-sizing: border-box; 
  align-items : center;
  font-size: 14px;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 50px;
  font-family: Nanum Gothic, sans-serif;
  line-height: 1.9;
  color: #333;
  font-weight: bold;
}

.refer2_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.refer2_items .img-box {
  padding-bottom: 15px;
}

.refer2_items .img-box img{
  width: 45px;
  height: 45px;
}

.refer2_items .item .detail-box {
  margin-top: 5px;
  color: #4F81BD;
}

.refer2_items {
  position: relative;
}

.refer2_items a {
  position: relative;
}

.reference2_section .custom_heading{
  text-align: center;
  margin: 60px 0px;
  margin-bottom: 50px;
}

/*reference3*/
.reference3_section {
  padding: 20px auto;
  padding-bottom: 10px;
}

.turnaround_section {
  background-image: url(../images/turnaround_bg2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
  padding: 20px auto;
  margin-bottom: 40px;
  border-radius: 1.2rem;
}

.reference3_section .container{
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 20px;
}

.refer3_items {
  width: 75%;
  margin: 15px 0;
  margin-top: 30px;
  margin-right: 80px;
  padding: 5px 0;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px 2px rgba(39, 39, 39, 0.6);
  margin-left: auto;
  margin-right: auto;
}

.refer3_items .refer3_title{
  display: flex;
  float: left;
  min-width: 150px;             
  min-height: 110px;
  text-align: left;
  font-size: 20px;
  justify-content : center;
  align-items : center;
  font-size: 22px;
  color: #17375E;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 25px;
  flex-direction: column;
}

.refer3_items .refer3_content{
  display: flex;
  float: right;
  width: 550px;         
  box-sizing: border-box; 
  align-items : center;
  font-size: 14px;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 50px;

  font-family: Nanum Gothic, sans-serif;
  line-height: 1.9;
  color: #333;
  font-weight: bold;
}

.refer3_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.refer3_items .img-box {
  padding-bottom: 15px;
}

.refer3_items .img-box img{
  width: 45px;
  height: 45px;
}

.refer3_items .item .detail-box {
  margin-top: 5px;
  color: #4F81BD;
}

.refer3_items {
  position: relative;
}

.refer3_items a {
  position: relative;
}

.reference3_section .custom_heading{
  text-align: center;
  margin: 60px 0px;
  margin-bottom: 50px;
}

/*reference4*/
.reference_section4 {
  overflow: hidden;
  padding: 20px auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

.reference_section4 .container{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 40px;
}

.refer_items4 {
  z-index: 2;
  width: 75%;
  margin: 10px 0;
  margin-top: 30px;
  margin-right: 80px;
  padding: 5px 0;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.2rem;
  min-height: 180px;
}

.refer_items4 .refer_title{
  display: flex;
  float: left;         
  text-align: left;
  font-size: 27px;
  color: #17375E;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.refer_items4 .refer_title p{
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.refer_items4 .refer_content{
  float: right;
  width: 100%;         
  box-sizing: border-box; 
  align-items : center;
  font-size: 14px;
  padding: 20px 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
  background-color: #ffffffd0;
  font-family: Nanum Gothic, sans-serif;
  line-height: 1.9;
  border-radius: 0.8rem;
}

.refer_items4 .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.refer_items4 .img-box{
  text-align: left;
  margin-left: 50px;
}

.refer_items4 .img-box img{
  width: 70px;
  margin: 8px 6px;
}

.refer_items4 .img-box2{
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  align-items: center;
  border-radius: 1.5rem;
  background-color: #17375E;
  width: 85px;
  height: 85px;
}

.refer_items4 .img-box2 img{
  width: 45px;
}

.refer_items4 {
  position: relative;
}


/*people section*/
.people_section{
  position: relative;
  top: 0px;
  padding-bottom: 0%;
  background-color: #304865;
  padding-bottom: 80px;
}

#peoplesec2{
  background-color: #e0e0e0;
  padding-top: 70px;
}

#peoplesec2 .custom_heading{
  color: #304865;
}

#peoplesec3{
  padding-top: 70px;
}

.people_section .custom_heading{
  text-align: center;
  color: #ffffff;
  font-size: 39px;
}

.people_section .row .col-md-4_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px 5px;
  }

.people_section .img_box {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people_section .img_box img {
  width: 150px;
  border-radius: 100%;
}

.people_section .img_box2 {
  width: 23px;
  height: 23px;
  background-color: transparent;
  margin-top: 8px;
}

.people_section .img_box2 img {
  width: 23px;
}

.people_section .img_box2 img:hover {
  opacity: 0.6;
}

.people_section .detail_box {
  margin-top: 10px;
  width: 310px;
  padding: 0px 30px;
  min-height: 170px;
  margin-bottom: 5px;
}

.people_section .detail_box h6 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0;
  color: #ffffff;
  text-align: left;
  margin-bottom: 10px;
  padding-top: 5px;
}

#peoplesec2 h6 {
  color: #17375E;
}

.people_section .detail_box h6 p{
  font-weight: normal;
  font-size: 17px;
  margin: 0 0;
  line-height: normal;
  color: #e9e9e9;
  margin-bottom: 15px;
}

#peoplesec2 h6 p{
  color: #5e5e5e;
}

.people_section .detail_box p {
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.9;
  text-align: left;
  color: #d3dae8;
  margin-bottom: 0;
}

#peoplesec2 p {
  color: #2e2e2e;
}

.people_section .detail_box .liltitle {
  font-weight: bold;
  color: #222222;
  margin-bottom: 0;
  font-size: 15.5px;
}

.people_section a {
  text-align: left;
  padding: 0px 10px;
  font-size: 16px;
  background-color: transparent;
  border-bottom:3px solid #b1b1b1;
  color: #b1b1b1;
  margin-bottom: 5px;
}

.people_section #noline{
  padding: 0;
}

#peoplesec2 a{
  color: #5d5d5d;
  border-bottom:3px solid #575757;
}

.people_section a:hover {
  text-align: left;
  padding: 0px 10px;
  font-size: 16px;
  background-color: transparent;
  border-bottom:3px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

#peoplesec2 a:hover {
  border-bottom:3px solid #4F81BD;
  color: #4F81BD;
}

.img_box2 a {
  text-decoration-line: none;
  border: none;
}

.img_box2 a:hover {
  border: none;
}

.people_section .row{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
 
.people_section .offset-md-2{
  margin-left: 10px;
  margin-right: 10px;
}

.peoplecard{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 24px 0px;
  padding-top: 27px;
  border-radius: 1.0em;
  min-width: 300px;
  background-color: transparent;
  border: #617894 solid 1px;
}

.people_section .nobutton {
  opacity: 0;
}

.people_section .top_line{
  color: #434343;
  border: thin solid;
  background-color: #434343;
  width: 520px;
  height: 2px;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.people_section .people_div{
  display: flex;
  justify-content: left;
  text-align: left;
}

/*추가된 친구들*/

.service_detail{
  padding: 0 20px;
  margin: 70px 0;
}

.service_detail img{
  display: flex;
  max-width: 100%;
  height: auto;
}

.service_detail2{
  padding: 0 20px;
  margin: 70px 0;
}

.service_detail2 img{
  display: flex;
  max-width: 100%;
  height: auto;
}

.menu_line{
  width: 100px;
  color: #17375E;
  border: thin solid;
  background-color: #17375E;
  margin-left: 1px;
  text-align: left;
  height: 2px;
  border-radius: 2rem;
}

.sorce_line{
  color: #bebdbd;
  border: thin solid;
  width: 550px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
}

.goup{
  text-align: center;
  height: 50px;
  margin-top: 50px;
  border-radius: 1.5rem;
  padding-top: 5px;
  margin: 0 auto;
  width: 100px;
}

.goup:hover{
  opacity: 0.8;
  cursor: pointer;
  background-color: #edebeb;
}

.goup img{
  height: 40px;
}

.language-select .select{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100px;
  height: 35px;
  border-radius: 1.3rem;
  background-color: #304865;
  color: #e2e2e2;
  margin-top: 5px;
  margin-left: 90px;
  font-size: 11px;
  z-index: 3;
}

.language-select .select option{
  border-radius: 0rem;
  background-color: #e2e2e2;
  color: #17375E;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */


